@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
.opensans,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.roboto,
p,
small,
span {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*:focus {
  box-shadow: none;
  outline: none;
}

.beforeFooterBox {
  animation-duration: 15000s;
  animation-iteration-count: infinite;
  animation-name: SCROLL-BG;
  animation-timing-function: linear;
  background: url('../assets/tenbabies.jpg') 0px 0px / cover repeat
    rgb(255, 255, 255);
  height: 600px;
}

@-webkit-keyframes SCROLL-BG {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1e6px;
  }
}
@keyframes SCROLL-BG {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1e6px;
  }
}
